<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d7e8f9a-0b1c-4d2e-3f4a-5b6c7d8e9f0a" Alias="CTA Band Block - Primary CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>CTA Band Block - Primary CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>
