<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e8f9a0b-1c2d-4e3f-4a5b-6c7d8e9f0a1b" Alias="CTA Band Block - Secondary CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>CTA Band Block - Secondary CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>
