<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc313610-9a87-42ba-8dd5-d403743a62b9" Alias="Demo Content Blocks" Level="1">
  <Info>
    <Name>Demo Content Blocks</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "369f8497-f865-4c10-9813-7ffac9da4ddb",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "59d3c876-f87c-452b-a5a4-808a46f3579d",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5e843cfb-c43b-4c24-bbfb-4afd601fb7a1",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e83f6127-4349-486d-aa01-8ee05d31d160",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d9a79094-7d31-40a8-bc99-0aa77f99e093",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5b60fa63-f744-4214-bdce-c92bc81cd9b0",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2d443cc4-ba1b-48c3-b8fc-4286a67ab65e",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>