<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c4e3d80-564a-4867-86b6-cd8e4047b6bf" Alias="Demo Video Block - Image - Media Picker" Level="1">
  <Info>
    <Name>Demo Video Block - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>