<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26a600e6-cf72-4b3a-9181-81ad593461fe" Alias="FAQ Block - Items - Block List" Level="1">
  <Info>
    <Name>FAQ Block - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5223f38a-27bb-4b3f-b7f1-99efb6e0bd16"
    }
  ]
}]]></Config>
</DataType>