<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3b2f52b-121e-4b50-ba3e-15d8661b051c" Alias="FAQ Item - Answer - Text Area" Level="1">
  <Info>
    <Name>FAQ Item - Answer - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>