<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d5e6f7a-8b9c-4d0e-2f3a-4b5c6d7e8f9a" Alias="Feature Block - Items - Block List" Level="1">
  <Info>
    <Name>Feature Block - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a9b5c3d4-e6f7-4a8b-0c1d-2e3f4a5b6c7d"
    }
  ]
}]]></Config>
</DataType>
