<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85c751e8-d6ec-47de-b6d4-ea1a2c8d8247" Alias="Feature Block  - Image - Media Picker" Level="1">
  <Info>
    <Name>Feature Block  - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>