<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d555a5e7-8813-4b0c-a63c-3a2ded94fb29" Alias="Feature Block  - ImagePosition - Dropdown" Level="1">
  <Info>
    <Name>Feature Block  - ImagePosition - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right"
  ]
}]]></Config>
</DataType>