<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e6f7a8b-9c0d-4e1f-3a4b-5c6d7e8f9a0b" Alias="Feature Block - More Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Feature Block - More Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>
