<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c25bd9d8-e7dc-4e2f-852d-473d05783f0e" Alias="Feature Block  - Text  - Text Area" Level="1">
  <Info>
    <Name>Feature Block  - Text  - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>