<?xml version="1.0" encoding="utf-8"?>
<DataType Key="842704d4-9af8-4e17-a233-09d366690166" Alias="Fordeler Ledelse Block - Image - Media Picker" Level="1">
  <Info>
    <Name>Fordeler Ledelse Block - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>