<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4972580-59e9-4a62-8756-4f51668d8ddb" Alias="Fordeleler Levering Block - ImagePosition - Media Picker" Level="1">
  <Info>
    <Name>Fordeleler Levering Block - ImagePosition - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>