<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46242552-af53-46df-accf-83b1cef38b35" Alias="Fordeler Kjøkken Block - Image - Media Picker" Level="1">
  <Info>
    <Name>Fordeler Kjøkken Block - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>