<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63326d49-14af-43f7-981c-5e777f26a122" Alias="Fordeler Ansatte Block - Image - Media Picker" Level="1">
  <Info>
    <Name>Fordeler Ansatte Block - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>