<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06da4645-d55a-4fe3-8f01-9c4dbeed9c02" Alias="Fordeler Økonomi Block - Image - Media Picker" Level="1">
  <Info>
    <Name>Fordeler Økonomi Block - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>