<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0228-4d28-8228-000000000228" Alias="Forside Pillars - Items - Block List" Level="1">
  <Info>
    <Name>Forside Pillars - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    { "contentElementTypeKey": "f9e1a010-0016-4b16-8016-000000000016" }
  ]
}]]></Config>
</DataType>
