<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f9a7b8c-c0d1-4e2f-4a5b-6c7d8e9f0a1b" Alias="Forside-blokker" Level="1">
  <Info>
    <Name>Forside-blokker</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "10eec6f9-74bc-4f1d-ad0a-a02c25ff7d36",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "859442c5-ecb4-4021-93e2-f264520ad422",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4187d793-28e0-47eb-a8be-52ef6f2e0a10",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e7f3a1b2-c4d5-4e6f-8a9b-0c1d2e3f4a5b",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "674bba9e-08db-4172-9b47-67783dd8b9fc",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b0c6d4e5-f7a8-4b9c-1d2e-3f4a5b6c7d8e",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "70b57ae1-a456-48bf-b643-91186ec546d3",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>
