<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0100-4c00-8100-000000000100" Alias="Forside Blokker - Block Grid" Level="1">
  <Info>
    <Name>Forside Blokker - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    { "contentElementTypeKey": "f9e1a010-0001-4a01-8001-000000000001", "allowAtRoot": true, "allowInAreas": true },
    { "contentElementTypeKey": "f9e1a010-0008-4a08-8008-000000000008", "allowAtRoot": true, "allowInAreas": true },
    { "contentElementTypeKey": "f9e1a010-0003-4a03-8003-000000000003", "allowAtRoot": true, "allowInAreas": true },
    { "contentElementTypeKey": "f9e1a010-0002-4a02-8002-000000000002", "allowAtRoot": true, "allowInAreas": true },
    { "contentElementTypeKey": "f9e1a010-0007-4a07-8007-000000000007", "allowAtRoot": true, "allowInAreas": true },
    { "contentElementTypeKey": "f9e1a010-0004-4a04-8004-000000000004", "allowAtRoot": true, "allowInAreas": true },
    { "contentElementTypeKey": "f9e1a010-0005-4a05-8005-000000000005", "allowAtRoot": true, "allowInAreas": true },
    { "contentElementTypeKey": "f9e1a010-0006-4a06-8006-000000000006", "allowAtRoot": true, "allowInAreas": true }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>
