<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0203-4d03-8203-000000000203" Alias="Forside Hero - Secondary CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>Forside Hero - Secondary CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{"maxNumber": 1, "minNumber": 0}]]></Config>
</DataType>