<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0231-4d31-8231-000000000231" Alias="Forside Pricing - Items - Block List" Level="1">
  <Info>
    <Name>Forside Pricing - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    { "contentElementTypeKey": "f9e1a010-0013-4b13-8013-000000000013" }
  ]
}]]></Config>
</DataType>