<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0221-4d21-8221-000000000221" Alias="Forside Social Proof - Items - Block List" Level="1">
  <Info>
    <Name>Forside Social Proof - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    { "contentElementTypeKey": "f9e1a010-0012-4b12-8012-000000000012" }
  ]
}]]></Config>
</DataType>