<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0232-4d32-8232-000000000232" Alias="Forside Pricing Plan - CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>Forside Pricing Plan - CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{"maxNumber": 1, "minNumber": 0}]]></Config>
</DataType>