<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0261-4d61-8261-000000000261" Alias="Forside CTA Band - Align - Radiobox" Level="1">
  <Info>
    <Name>Forside CTA Band - Align - Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [{ "value": "left", "label": "left" }, { "value": "center", "label": "center" }, { "value": "split", "label": "split" }]
}]]></Config>
</DataType>