<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0262-4d62-8262-000000000262" Alias="Forside CTA Band - Glass - Radiobox" Level="1">
  <Info>
    <Name>Forside CTA Band - Glass - Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [{ "value": "none", "label": "none" }, { "value": "soft", "label": "soft" }, { "value": "strong", "label": "strong" }]
}]]></Config>
</DataType>