<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0211-4d11-8211-000000000211" Alias="Forside Feature - Items - Block List" Level="1">
  <Info>
    <Name>Forside Feature - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    { "contentElementTypeKey": "f9e1a010-0011-4b11-8011-000000000011" }
  ]
}]]></Config>
</DataType>