<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0267-4d67-8267-000000000267" Alias="Forside CTA Band - Width - Radiobox" Level="1">
  <Info>
    <Name>Forside CTA Band - Width - Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [{ "value": "narrow", "label": "narrow" }, { "value": "wide", "label": "wide" }, { "value": "full", "label": "full" }]
}]]></Config>
</DataType>