<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0212-4d12-8212-000000000212" Alias="Forside Feature - More Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Forside Feature - More Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{"maxNumber": 1, "minNumber": 0}]]></Config>
</DataType>