<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0201-4d01-8201-000000000201" Alias="Forside Hero - Size - Radiobox" Level="1">
  <Info>
    <Name>Forside Hero - Size - Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [{ "value": "md", "label": "md" }, { "value": "lg", "label": "lg" }, { "value": "xl", "label": "xl" }]
}]]></Config>
</DataType>