<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0251-4d51-8251-000000000251" Alias="Forside Trust Bar - Items - Block List" Level="1">
  <Info>
    <Name>Forside Trust Bar - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    { "contentElementTypeKey": "f9e1a010-0015-4b15-8015-000000000015" }
  ]
}]]></Config>
</DataType>