<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0241-4d41-8241-000000000241" Alias="Forside How It Works - Items - Block List" Level="1">
  <Info>
    <Name>Forside How It Works - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    { "contentElementTypeKey": "f9e1a010-0014-4b14-8014-000000000014" }
  ]
}]]></Config>
</DataType>