<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0266-4d66-8266-000000000266" Alias="Forside CTA Band - Theme - Radiobox" Level="1">
  <Info>
    <Name>Forside CTA Band - Theme - Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [{ "value": "light", "label": "light" }, { "value": "dark", "label": "dark" }, { "value": "color-green", "label": "color-green" }]
}]]></Config>
</DataType>