<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1a010-0263-4d63-8263-000000000263" Alias="Forside CTA Band - Motion - Radiobox" Level="1">
  <Info>
    <Name>Forside CTA Band - Motion - Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [{ "value": "none", "label": "none" }, { "value": "fade", "label": "fade" }, { "value": "lift", "label": "lift" }, { "value": "glow", "label": "glow" }]
}]]></Config>
</DataType>