<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b3c4d5e-6f7a-4b9c-0d1e-2f3a4b5c6d7e" Alias="Hero Block - Primary CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>Hero Block - Primary CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>
