<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32d455fa-a1d5-4f8c-94c5-873410480dfe" Alias="Hero Block - Background Image - Media Picker" Level="1">
  <Info>
    <Name>Hero Block - Background Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>