<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c026ae6-5f14-437a-a024-6877b66e53f3" Alias="Home Page - Content Blocks - Block Grid" Level="1">
  <Info>
    <Name>Home Page - Content Blocks - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "10eec6f9-74bc-4f1d-ad0a-a02c25ff7d36",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4187d793-28e0-47eb-a8be-52ef6f2e0a10",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "674bba9e-08db-4172-9b47-67783dd8b9fc",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5bac2527-3572-4f72-a281-bb6fb69b2168",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "70b57ae1-a456-48bf-b643-91186ec546d3",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>