<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83646397-017e-4e1b-8b94-658ae6862eac" Alias="Home Page - GDPR Classification - Dropdown" Level="1">
  <Info>
    <Name>Home Page - GDPR Classification - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Public",
    "Internal",
    "Confidential",
    "Sensitive"
  ]
}]]></Config>
</DataType>