<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c65de8ca-88f5-46d8-9c56-70acefdfd5a4" Alias="Home Page - WCAG Level - Dropdown" Level="1">
  <Info>
    <Name>Home Page - WCAG Level - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "A",
    "AA",
    "AAA"
  ]
}]]></Config>
</DataType>