<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00b9249c-eec3-4319-9bc9-1afcd81db1cc" Alias="Home Page - Channel Priority - Dropdown" Level="1">
  <Info>
    <Name>Home Page - Channel Priority - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Organic",
    "Paid",
    "Email",
    "Social Media"
  ]
}]]></Config>
</DataType>