<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8a790e2-319f-4d46-aa0c-cc9eca5e717a" Alias="Home Page - Legally Reviewed Date - Date Picker" Level="1">
  <Info>
    <Name>Home Page - Legally Reviewed Date - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "DD-MM-YYYY"
}]]></Config>
</DataType>