<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0eaacba0-802c-4ba5-8f07-209736752108" Alias="Home Page - Social Proof Block - Block Grid" Level="1">
  <Info>
    <Name>Home Page - Social Proof Block - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4187d793-28e0-47eb-a8be-52ef6f2e0a10",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>