<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e476949a-6976-4b41-8373-444d421488d3" Alias="Home Page - SEO Revised Date - Date Picker" Level="1">
  <Info>
    <Name>Home Page - SEO Revised Date - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "DD-MM-YYYY"
}]]></Config>
</DataType>