<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33139c39-a46e-408f-8d51-7eeda8c21f59" Alias="Home Page - Expiry Date - Date Picker" Level="1">
  <Info>
    <Name>Home Page - Expiry Date - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "DD-MM-YYYY"
}]]></Config>
</DataType>