<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5b44d34-1099-4cc6-b5e6-e6d3b0fe8df3" Alias="Home Page - OG Image - Media Picker" Level="1">
  <Info>
    <Name>Home Page - OG Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>