<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f57f81dc-ce5d-435f-937e-48bf96c99782" Alias="Home Page - Publish Date - Date Picker" Level="1">
  <Info>
    <Name>Home Page - Publish Date - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "DD-MM-YYYY"
}]]></Config>
</DataType>