<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34df5ee8-3d4b-4c0e-a16f-d184c5e18cd2" Alias="How It Works Block - Steps - Block List" Level="1">
  <Info>
    <Name>How It Works Block - Steps - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "76068913-721c-4842-b425-3ebaed2f13b0"
    }
  ]
}]]></Config>
</DataType>