<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f73fa61-26b8-4077-81a5-dffbfae856be" Alias="How It Works Step - Image - Media Picker" Level="1">
  <Info>
    <Name>How It Works Step - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>