<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c0d1e2f-3a4b-4c5d-6e7f-8a9b0c1d2e3f" Alias="How Step - CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>How Step - CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>
