<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6dc3160b-0eb5-46c4-90e1-ace7ff1d04bc" Alias="Kom I Gang - Steps - Block List" Level="1">
  <Info>
    <Name>Kom I Gang - Steps - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "19615683-5761-4076-90c1-1723b71266c4"
    }
  ]
}]]></Config>
</DataType>