<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6c84a2aa-bf6e-4457-b4ff-78131cd33e48" Alias="Kom I Gang - Checklist - Block List" Level="1">
  <Info>
    <Name>Kom I Gang - Checklist - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c67a0d66-c1d2-4465-b6ab-ed78836e2e14"
    }
  ]
}]]></Config>
</DataType>