<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05cd0dac-bbbe-43fd-8a31-e9620b08182d" Alias="Landing Page Hero Block - Stats - Block List" Level="1">
  <Info>
    <Name>Landing Page Hero Block - Stats - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d9b86746-4334-402d-b7c4-7ec41ff7aef7"
    }
  ]
}]]></Config>
</DataType>