<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba9ae35b-5d0a-4e0e-bd83-b66b27446dc8" Alias="Landing Page - SEO Revised Date - Date Picker" Level="1">
  <Info>
    <Name>Landing Page - SEO Revised Date - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "DD-MM-YYYY"
}]]></Config>
</DataType>