<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c64b389-47b7-4514-ae17-1262dcd1e4ac" Alias="Landing Page Hero Block - HeroImage - Media Picker" Level="1">
  <Info>
    <Name>Landing Page Hero Block - HeroImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>