<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3de81fc1-21c7-4236-8e33-b23f48d7c297" Alias="Landing Page - OG Image - Media Picker" Level="1">
  <Info>
    <Name>Landing Page - OG Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>