<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be724502-0229-4e17-b41a-4c61404f965c" Alias="Landing Page Hero Block - BackgroundImage - Media Picker" Level="1">
  <Info>
    <Name>Landing Page Hero Block - BackgroundImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>