<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30700c8e-721f-43c2-8cfe-37ca03464157" Alias="Landing Page - Content Blocks - Block List" Level="1">
  <Info>
    <Name>Landing Page - Content Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2d443cc4-ba1b-48c3-b8fc-4286a67ab65e"
    },
    {
      "contentElementTypeKey": "70b57ae1-a456-48bf-b643-91186ec546d3"
    },
    {
      "contentElementTypeKey": "5091d070-7267-46be-bf82-3f95fc8e78cb"
    },
    {
      "contentElementTypeKey": "859442c5-ecb4-4021-93e2-f264520ad422"
    },
    {
      "contentElementTypeKey": "674bba9e-08db-4172-9b47-67783dd8b9fc"
    },
    {
      "contentElementTypeKey": "fc52833e-0e92-443c-b644-5b5977feb5f7"
    },
    {
      "contentElementTypeKey": "260cc435-cf20-4c61-acff-906613ef50b0"
    },
    {
      "contentElementTypeKey": "4187d793-28e0-47eb-a8be-52ef6f2e0a10"
    },
    {
      "contentElementTypeKey": "fedaf995-6d30-4a74-8149-02b2f7d178e1"
    },
    {
      "contentElementTypeKey": "63a58101-cdfa-452c-bca1-07756d6a9d19"
    },
    {
      "contentElementTypeKey": "b4148c41-c973-488f-89c3-b205fda6f066"
    },
    {
      "contentElementTypeKey": "5bac2527-3572-4f72-a281-bb6fb69b2168"
    },
    {
      "contentElementTypeKey": "e44de93c-5be4-4388-9d5c-6f4dbd2ee6c7"
    },
    {
      "contentElementTypeKey": "d9a79094-7d31-40a8-bc99-0aa77f99e093"
    },
    {
      "contentElementTypeKey": "5b60fa63-f744-4214-bdce-c92bc81cd9b0"
    },
    {
      "contentElementTypeKey": "369f8497-f865-4c10-9813-7ffac9da4ddb"
    },
    {
      "contentElementTypeKey": "59d3c876-f87c-452b-a5a4-808a46f3579d"
    },
    {
      "contentElementTypeKey": "e83f6127-4349-486d-aa01-8ee05d31d160"
    },
    {
      "contentElementTypeKey": "5e843cfb-c43b-4c24-bbfb-4afd601fb7a1"
    },
    {
      "contentElementTypeKey": "7060d153-fa26-4ed1-9e7f-0392864f3bd9"
    },
    {
      "contentElementTypeKey": "3224e57d-7705-4b00-a1c4-ce94e4d7d94a"
    },
    {
      "contentElementTypeKey": "c4e7904b-20a3-428f-8ef3-3427b4f8a903"
    },
    {
      "contentElementTypeKey": "b122fd66-2dbd-44f9-bad4-278bbee298b9"
    },
    {
      "contentElementTypeKey": "9e2b3650-79a1-4beb-972a-fc4bc21d675b"
    },
    {
      "contentElementTypeKey": "bf558f50-d4b5-4250-bd3c-f4aba95cd3af"
    },
    {
      "contentElementTypeKey": "cf6fb345-3235-4a1b-8523-9cd561aad735"
    },
    {
      "contentElementTypeKey": "75cdb01f-107a-4752-a95e-0afc16edf39f"
    },
    {
      "contentElementTypeKey": "b805110d-5aff-4641-8574-199beca5e856"
    },
    {
      "contentElementTypeKey": "e73cdc99-f346-4768-9fad-18cdc9c3ab84"
    },
    {
      "contentElementTypeKey": "ffdf7487-da00-4464-aea5-076cbf8ce4e2"
    },
    {
      "contentElementTypeKey": "e763cfa4-bc67-41bf-9477-9743dd6069ba"
    },
    {
      "contentElementTypeKey": "82574923-2871-4caa-b1a2-8a6970d691d2"
    },
    {
      "contentElementTypeKey": "80b16e05-8de8-4813-9cd6-69e83c2c0883"
    },
    {
      "contentElementTypeKey": "709edfec-ef93-463e-b8d9-e565226a6fcf"
    },
    {
      "contentElementTypeKey": "cd0fea7a-8076-4b3f-a6cc-594fee9b2709"
    },
    {
      "contentElementTypeKey": "63f1d4ae-ff31-44c3-a3e5-63a100ee1c82"
    },
    {
      "contentElementTypeKey": "ab023061-07a5-4307-950f-3132e20a23df"
    },
    {
      "contentElementTypeKey": "04b4cc0d-fbde-45a1-992e-9b5947f4affa"
    },
    {
      "contentElementTypeKey": "812e9e4d-fdc0-4aef-8a38-5f1cd9e191cb"
    },
    {
      "contentElementTypeKey": "03e82c8b-782f-4b73-81bb-62d25b675e43"
    },
    {
      "contentElementTypeKey": "f41a1fb8-b07f-478f-b04f-a70197ae6197"
    },
    {
      "contentElementTypeKey": "aa71355e-e48d-4066-8bc8-e7dd648e80d4"
    },
    {
      "contentElementTypeKey": "bccb0086-7776-47a7-b10e-513756ce967f"
    },
    {
      "contentElementTypeKey": "34631a8f-7136-4cad-a16a-041f59ec65fe"
    },
    {
      "contentElementTypeKey": "42b6e05c-b4a0-49cc-b35b-f5e951092626"
    },
    {
      "contentElementTypeKey": "9658cb4e-9122-4874-9b05-03b40434b813"
    },
    {
      "contentElementTypeKey": "6750e4b0-fa8b-415c-a101-8224b2fcf0f5"
    },
    {
      "contentElementTypeKey": "7ca5e9cc-34b3-459e-8db4-c3bf00d9e307"
    },
    {
      "contentElementTypeKey": "fedc6f13-2149-40ee-a7cb-d06295e1bb2e"
    }
  ]
}]]></Config>
</DataType>