<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84fc3192-8145-4992-a237-b1cc6ef34bbf" Alias="Landing Page Hero Block - Logos - Multiple Text String" Level="1">
  <Info>
    <Name>Landing Page Hero Block - Logos - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>