<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7cb7ec51-ac66-48df-abb2-f853a304846f" Alias="Logos Block  - Logos - Media Picker" Level="1">
  <Info>
    <Name>Logos Block  - Logos - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>