<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9480fb96-dcc1-4629-a6b1-2c6253d0810a" Alias="Logo Item - Logo - Media Picker" Level="1">
  <Info>
    <Name>Logo Item - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>