<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0759379f-3304-4531-b367-d2725635ea25" Alias="LosningenHowItWorksBlock - Steps - Block List" Level="1">
  <Info>
    <Name>LosningenHowItWorksBlock - Steps - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "72940c57-1283-493f-9dbb-d706bffa7b41"
    }
  ]
}]]></Config>
</DataType>