<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c63e25c-3a0b-4d52-ab11-66db5d3dbef1" Alias="LosningenTestimonialBlock - CompanyLogo - Media Picker" Level="1">
  <Info>
    <Name>LosningenTestimonialBlock - CompanyLogo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>