<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d24add82-b472-45f0-8e7f-3025cc994621" Alias="LosningenValuePropsBlock - Cards - Block List" Level="1">
  <Info>
    <Name>LosningenValuePropsBlock - Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0fdb68ad-f0d5-43e4-9b6a-7e6cc527cfdf"
    }
  ]
}]]></Config>
</DataType>