<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c43fe637-45c9-4fbf-b9b1-0aaae8935256" Alias="LosningenFeaturesBlock - Features - Block List" Level="1">
  <Info>
    <Name>LosningenFeaturesBlock - Features - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "12459759-8dec-4f9e-8d2b-f2da380ee775"
    }
  ]
}]]></Config>
</DataType>