<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56cc2d9e-0e19-42dc-bd5f-3db60a7eebd6" Alias="LosningenFaqBlock - Items - Block List" Level="1">
  <Info>
    <Name>LosningenFaqBlock - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5223f38a-27bb-4b3f-b7f1-99efb6e0bd16"
    }
  ]
}]]></Config>
</DataType>