<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16907666-dd64-4a4d-8a5e-9d08b301deac" Alias="LosningenTestimonialBlock - Stats - Block List" Level="1">
  <Info>
    <Name>LosningenTestimonialBlock - Stats - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0fdb68ad-f0d5-43e4-9b6a-7e6cc527cfdf"
    },
    {
      "contentElementTypeKey": "72940c57-1283-493f-9dbb-d706bffa7b41"
    },
    {
      "contentElementTypeKey": "5223f38a-27bb-4b3f-b7f1-99efb6e0bd16"
    },
    {
      "contentElementTypeKey": "d9b86746-4334-402d-b7c4-7ec41ff7aef7"
    },
    {
      "contentElementTypeKey": "e42d30e3-f6e1-4b4c-9ba3-16deb85f0a50"
    },
    {
      "contentElementTypeKey": "859442c5-ecb4-4021-93e2-f264520ad422"
    }
  ]
}]]></Config>
</DataType>