<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3bb802e-047d-4c61-8314-91b76fae9912" Alias="LosningenTestimonialBlock - Avatar - Media Picker" Level="1">
  <Info>
    <Name>LosningenTestimonialBlock - Avatar - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>