<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73980597-f2be-432e-97eb-631f6771487d" Alias="LosningenFeatureItem - Checks - Block List" Level="1">
  <Info>
    <Name>LosningenFeatureItem - Checks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>