<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b81fc63-a514-475c-9687-26c16f02229e" Alias="Pricing Item - Highlighted - Toggle" Level="1">
  <Info>
    <Name>Pricing Item - Highlighted - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>