<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36ce6e96-e18c-4c1e-afca-72488b6cfe35" Alias="Pricing Item - Features - Text Area" Level="1">
  <Info>
    <Name>Pricing Item - Features - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>