<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5d6fe2f-ef61-481e-aaa3-74f5b3bb9088" Alias="Pricing Block  - Items - Block List" Level="1">
  <Info>
    <Name>Pricing Block  - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c1d942f8-672d-4ff5-a481-94b1dd219677"
    }
  ]
}]]></Config>
</DataType>