<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebbc46fc-4ab0-4fb4-8616-556f22efd324" Alias="Priser How It Works Block - Steps - Block List" Level="1">
  <Info>
    <Name>Priser How It Works Block - Steps - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3d1530f1-6bb5-4fad-aacb-496f18033fcb"
    }
  ]
}]]></Config>
</DataType>