<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a48c70ca-3887-4b7c-925c-678dd270610a" Alias="PriserPlansBlock - Plans - Block List" Level="1">
  <Info>
    <Name>PriserPlansBlock - Plans - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "72e62352-5025-4683-9aa8-c856648c7bc3"
    }
  ]
}]]></Config>
</DataType>