<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b48851c-872e-4aef-b92b-544c0a454fee" Alias="PriserFaqBlock - Items - Block List" Level="1">
  <Info>
    <Name>PriserFaqBlock - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e6b1ebb4-1ccc-41dd-80f8-5073957694af"
    }
  ]
}]]></Config>
</DataType>