<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26c63e71-0858-487b-a13b-91ebc205347c" Alias="SEO Base - SEO Preview - SEO Preview" Level="1">
  <Info>
    <Name>SEO Base - SEO Preview - SEO Preview</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.SeoPreview</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "STRING"
}]]></Config>
</DataType>