<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98e49a50-4f31-43a2-9191-3fa21301aa7e" Alias="SEO Base - CityExpansionAnalyzer - Ekspansjonsanalyse" Level="1">
  <Info>
    <Name>SEO Base - CityExpansionAnalyzer - Ekspansjonsanalyse</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.CityExpansionAnalyzer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>