<?xml version="1.0" encoding="utf-8"?>
<DataType Key="642bd3c6-39d5-41f0-9459-0c24f75e23db" Alias="SEO Base -  - SEO-analyse" Level="1">
  <Info>
    <Name>SEO Base -  - SEO-analyse</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.CitySeoAnalyzer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>