<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ab23c19-78ff-4c5b-90db-2bf01a244bbb" Alias="SEO Base -  - Sosiale medier" Level="1">
  <Info>
    <Name>SEO Base -  - Sosiale medier</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.SocialMediaGenerator</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>