<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9bf27fae-9a86-487c-b9ca-ffafa8f82741" Alias="SEO Base -  - Innhold" Level="1">
  <Info>
    <Name>SEO Base -  - Innhold</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.CityContentCalendar</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>