<?xml version="1.0" encoding="utf-8"?>
<DataType Key="736b1cfc-5fd8-48b4-98b0-97e58e056841" Alias="SEO Base - Lenker - Lenker" Level="1">
  <Info>
    <Name>SEO Base - Lenker - Lenker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.CityLinkBuilder</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>