<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7f86f5a-a183-4b0d-a7c3-7c1dc6aea79b" Alias="Site Settings - favIcon - Media Picker" Level="1">
  <Info>
    <Name>Site Settings - favIcon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>