<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb5c478b-bc0c-4b42-bc9f-b2be26039d60" Alias="Site Settings - FooterDeveloperLogo - Media Picker" Level="1">
  <Info>
    <Name>Site Settings - FooterDeveloperLogo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>