<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abe272fc-b6a1-4ea2-80a1-71b7d5972c6f" Alias="Site Settings - FooterColumns - Block List" Level="1">
  <Info>
    <Name>Site Settings - FooterColumns - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d9db042e-6a25-4e24-ad24-8558d08b766f"
    }
  ]
}]]></Config>
</DataType>