<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6a93b53-44e7-453d-bc3b-062e9e9c8bb9" Alias="Social Proof Block - Items - Block List" Level="1">
  <Info>
    <Name>Social Proof Block - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a171d179-a1df-4d86-9eee-bd32036c04df"
    }
  ]
}]]></Config>
</DataType>