<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6df666c-a94f-4d48-8c55-2e294b9e8d9c" Alias="Social Proof Item - Image - Media Picker" Level="1">
  <Info>
    <Name>Social Proof Item - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>