<?xml version="1.0" encoding="utf-8"?>
<DataType Key="072b4afd-c0fc-4fb0-8446-d08503e0d957" Alias="Stats Block - Items - Block List" Level="1">
  <Info>
    <Name>Stats Block - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d9b86746-4334-402d-b7c4-7ec41ff7aef7"
    }
  ]
}]]></Config>
</DataType>