<?xml version="1.0" encoding="utf-8"?>
<DataType Key="700524d9-f053-4cb5-975a-eb72d26f6ff1" Alias="Steps Block - Steps - Block List" Level="1">
  <Info>
    <Name>Steps Block - Steps - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "72940c57-1283-493f-9dbb-d706bffa7b41"
    }
  ]
}]]></Config>
</DataType>