<?xml version="1.0" encoding="utf-8"?>
<DataType Key="beece030-b29a-44d0-a4d0-3009f967317d" Alias="Step Item  - Icon - Media Picker" Level="1">
  <Info>
    <Name>Step Item  - Icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>