<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cdb76a0-cb8e-4e58-ba8c-6c278466e294" Alias="Step Item  - StepNumber - Numeric" Level="1">
  <Info>
    <Name>Step Item  - StepNumber - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>