<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14922d18-5497-4936-b56b-9bd065a7f584" Alias="Step Item  - Description - Text Area" Level="1">
  <Info>
    <Name>Step Item  - Description - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>