<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06af68e0-8a87-4c8e-8dbd-6b6fd98c1dfd" Alias="Testimonials Block - Items - Block List" Level="1">
  <Info>
    <Name>Testimonials Block - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>