<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5eb702f-78c3-4c51-8113-65a28c514dd3" Alias="Testimonial Item - Rating - Numeric" Level="1">
  <Info>
    <Name>Testimonial Item - Rating - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>