<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9e930d1-2a87-46f2-9559-bb77804ef903" Alias="Testimonial Item - Logo - Media Picker" Level="1">
  <Info>
    <Name>Testimonial Item - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>