<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e62d2ee-2829-45cb-a55e-5132087d6c3a" Alias="Testimonial Item - Quote - Text Area" Level="1">
  <Info>
    <Name>Testimonial Item - Quote - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>