<?xml version="1.0" encoding="utf-8"?>
<DataType Key="150df94d-585c-43dc-8c59-806217d463d3" Alias="Testimonial Item - Avatar - Media Picker" Level="1">
  <Info>
    <Name>Testimonial Item - Avatar - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>