<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d1e2f3a-4b5c-4d6e-7f8a-9b0c1d2e3f4a" Alias="Trust Bar Block - Items - Block List" Level="1">
  <Info>
    <Name>Trust Bar Block - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c1d7e5f6-a8b9-4c0d-2e3f-4a5b6c7d8e9f"
    }
  ]
}]]></Config>
</DataType>
