<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24bc0ccb-af8f-427e-95be-81119e6ac048" Alias="Value Props Block - Items - Block List" Level="1">
  <Info>
    <Name>Value Props Block - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0fdb68ad-f0d5-43e4-9b6a-7e6cc527cfdf"
    }
  ]
}]]></Config>
</DataType>