<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afe5a402-dd10-4751-b0c2-3aaca5c04172" Alias="Value Prop Item - Icon - Media Picker" Level="1">
  <Info>
    <Name>Value Prop Item - Icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>