<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0cc0ded-2c00-4001-8001-000000000001" Alias="global-settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/global-settings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2026-04-12T12:00:00</CreateDate>
    <NodeName Default="Global settings" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <designStyle>
      <Value><![CDATA[umb://document/a0cc0ded3c0040018001000000000001]]></Value>
    </designStyle>
    <websiteName>
      <Value><![CDATA[Lunchportalen]]></Value>
    </websiteName>
    <topComponents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </topComponents>
    <bottomComponents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </bottomComponents>
    <pods>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </pods>
  </Properties>
</Content>
