<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000062" Alias="LP Code behaviour" Level="1">
  <Info>
    <Name>LP Code behaviour</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    { "id": "a0cc0ded-4f01-4001-8001-000000000001", "value": "runCode" },
    { "id": "a0cc0ded-4f01-4001-8001-000000000002", "value": "displayCode" }
  ]
}]]></Config>
</DataType>
