<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000084" Alias="LP Dual promo columns desktop" Level="1">
  <Info>
    <Name>LP Dual promo columns desktop</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    { "id": "a0cc0ded-8c01-4001-8001-000000000001", "value": "1" },
    { "id": "a0cc0ded-8c01-4001-8001-000000000002", "value": "2" },
    { "id": "a0cc0ded-8c01-4001-8001-000000000003", "value": "3" }
  ]
}]]></Config>
</DataType>
