<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000086" Alias="LP Dual promo content box style" Level="1">
  <Info>
    <Name>LP Dual promo content box style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    { "id": "a0cc0ded-8c03-4001-8001-000000000001", "value": "glass" },
    { "id": "a0cc0ded-8c03-4001-8001-000000000002", "value": "darkOverlay" },
    { "id": "a0cc0ded-8c03-4001-8001-000000000003", "value": "none" }
  ]
}]]></Config>
</DataType>
