<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000085" Alias="LP Dual promo content position" Level="1">
  <Info>
    <Name>LP Dual promo content position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    { "id": "a0cc0ded-8c02-4001-8001-000000000001", "value": "bottomLeft" },
    { "id": "a0cc0ded-8c02-4001-8001-000000000002", "value": "bottomCenter" },
    { "id": "a0cc0ded-8c02-4001-8001-000000000003", "value": "center" }
  ]
}]]></Config>
</DataType>
