<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000087" Alias="LP Dual promo overlay style" Level="1">
  <Info>
    <Name>LP Dual promo overlay style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    { "id": "a0cc0ded-8c04-4001-8001-000000000001", "value": "gradientDark" },
    { "id": "a0cc0ded-8c04-4001-8001-000000000002", "value": "solidDark" },
    { "id": "a0cc0ded-8c04-4001-8001-000000000003", "value": "subtle" },
    { "id": "a0cc0ded-8c04-4001-8001-000000000004", "value": "none" }
  ]
}]]></Config>
</DataType>
