<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000083" Alias="LP Dual promo card items" Level="1">
  <Info>
    <Name>LP Dual promo card items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a0cc0ded-0001-4001-8001-000000000082",
      "settingsElementTypeKey": null
    }
  ]
}]]></Config>
</DataType>
