<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000074" Alias="LP Hero banner quick links" Level="1">
  <Info>
    <Name>LP Hero banner quick links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a0cc0ded-0001-4001-8001-000000000072",
      "settingsElementTypeKey": null
    }
  ]
}]]></Config>
</DataType>
