<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc0ded-0001-4001-8001-000000000076" Alias="LP Hero banner variant" Level="1">
  <Info>
    <Name>LP Hero banner variant</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    { "id": "a0cc0ded-6f01-4001-8001-000000000001", "value": "standard" },
    { "id": "a0cc0ded-6f01-4001-8001-000000000002", "value": "compact" },
    { "id": "a0cc0ded-6f01-4001-8001-000000000003", "value": "split" }
  ]
}]]></Config>
</DataType>
