<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d6abc7ce-cf75-4104-b4d9-075fc4e4e035" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="d54083a5-a0b0-41f2-b94b-3f5620eb316e">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019dd5bc-3be8-71ac-8839-62b0d4aa64e0">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7562aa5b-d966-4076-bfad-16128ba9c44c" SortOrder="0">landingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>106afe4d-aa22-42e2-af9c-c89acf23c1d6</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>30700c8e-721f-43c2-8cfe-37ca03464157</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9e1a010-0801-4e81-8e81-000000008001</Key>
      <Name>Forside Blocks</Name>
      <Alias>forsideBlocks</Alias>
      <Definition>f9e1a010-0100-4c00-8100-000000000100</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e199c0e6-cde7-4bc9-8fd1-3a71d502a1d9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>