<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7562aa5b-d966-4076-bfad-16128ba9c44c" Alias="landingPage" Level="1">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ca04b866-b4cd-4390-a278-e32b24d0e0c5">contact</Template>
      <Template Key="a8b0debd-df8c-4aae-bba2-85343febc456">demoPage</Template>
      <Template Key="cc652a65-108f-42b7-a8e6-508fa34cc582">komIGangPage</Template>
      <Template Key="019dd975-e751-7513-bdb8-3860f2300224">LandingPage</Template>
      <Template Key="18c7ee15-2ae2-49af-8ee5-0d40ca78fdff">losningenPage</Template>
      <Template Key="d3baa311-be60-41aa-bf79-67f2ffd0d0ba">omOssPage</Template>
      <Template Key="cd54987f-6a70-4fa0-a741-6c68de639444">pricing</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>774490ab-4ef4-42e8-abcb-62eba83850f8</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>30700c8e-721f-43c2-8cfe-37ca03464157</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5462a4ab-1c55-4650-9048-c0a775c792a6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>