<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d54083a5-a0b0-41f2-b94b-3f5620eb316e" Alias="seoBase" Level="1">
  <Info>
    <Name>SEO Base</Name>
    <Icon>icon-settings color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>99ed2ef6-2c41-454b-b475-19a531e2a901</Key>
      <Name>AB Test ID</Name>
      <Alias>abTestId</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Eksperiment-ID fra A/B-testverktøyet (f.eks. VWO eller Optimizely) koblet til denne siden.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="personalisation">Personalisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c26294ca-5bcc-4f73-b918-010d8597e6a0</Key>
      <Name>Accessibility Notes</Name>
      <Alias>accessibilityNotes</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Notes on accessibility considerations or known issues on this page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="accessibility">Accessibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3824b571-258c-4f9c-b5c7-0c28aaba9977</Key>
      <Name>Campaign Code</Name>
      <Alias>campaignCode</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kampanjekode som kobler denne siden til en aktiv markedskampanje.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="conversion">Conversion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b403c3a-d8b2-4664-b51e-97d214fc6837</Key>
      <Name>Canonical Url</Name>
      <Alias>canonicalUrl</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[La stå tom hvis siden er original. Fyll inn om innholdet finnes på flere URL-er.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da2ac43c-8697-4d57-802b-3f6c49a51dfb</Key>
      <Name>Channel Priority</Name>
      <Alias>channelPriority</Alias>
      <Definition>00b9249c-eec3-4319-9bc9-1afcd81db1cc</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Primærkanalen denne siden er optimalisert for å distribueres gjennom.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="distribution">Distribution</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bdd16d73-0581-4409-944a-21cf900a14f1</Key>
      <Name>CityExpansionAnalyzer</Name>
      <Alias>cityExpansionAnalyzer</Alias>
      <Definition>98e49a50-4f31-43a2-9191-3fa21301aa7e</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ekspansjon">Ekspansjon</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da51695f-6ccb-4a26-9df1-65b9c7a8fa36</Key>
      <Name>Content Owner</Name>
      <Alias>contentOwner</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Navn på ansvarlig redaktør eller innholdseier for denne siden.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contentLifecycle">Content Lifecycle</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e362163c-07bc-422d-b454-cbf46d3d144c</Key>
      <Name>Disable Lazy Load</Name>
      <Alias>disableLazyLoad</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disable lazy loading for above-the-fold images on this page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="performance">Performance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1bb399d1-b529-4352-b48e-03f8f4faa5cc</Key>
      <Name>Expiry Date</Name>
      <Alias>expiryDate</Alias>
      <Definition>33139c39-a46e-408f-8d51-7eeda8c21f59</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dato da innholdet utløper. Redaktøren varsles når denne datoen nærmer seg.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contentLifecycle">Content Lifecycle</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffcd8bec-130b-4c07-ab8c-cf5cf7528079</Key>
      <Name>Fetch Priority</Name>
      <Alias>fetchPriority</Alias>
      <Definition>9ac10d54-c813-4d51-aebd-38f9b40bafbd</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set fetch priority for the hero image on this page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="performance">Performance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3c8506e5-9d69-45f7-88fe-fe27d591d8ba</Key>
      <Name>Focus Keywords</Name>
      <Alias>focusKeywords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ord siden skal rangere på. Skill med komma.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2e0b1f7-2350-4287-9939-82e2b763ae99</Key>
      <Name>GDPR Classification</Name>
      <Alias>gdprClassification</Alias>
      <Definition>83646397-017e-4e1b-8b94-658ae6862eac</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[GDPR-klassifisering av innholdet på denne siden.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="legal">Legal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49b79df6-2ace-4c06-8732-26e86ee8ac9e</Key>
      <Name>Innhold</Name>
      <Alias>innhold</Alias>
      <Definition>9bf27fae-9a86-487c-b9ca-ffafa8f82741</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>638502b6-668f-4e57-890d-c0b2a80860a6</Key>
      <Name>Konkurrenter</Name>
      <Alias>konkurrenter</Alias>
      <Definition>f2db7fe5-3014-4d2a-8741-67b995e0b792</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="konkurrenter">Konkurrenter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce1b797e-12b3-4c86-ad35-dc5fe74f2b75</Key>
      <Name>Language Variants Note</Name>
      <Alias>languageVariantsNote</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Noter hvilke språkversjoner som finnes for denne siden og deres status.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="personalisation">Personalisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4f8537e6-473e-4743-b1c2-e3cf279e3ca2</Key>
      <Name>Legally Reviewed Date</Name>
      <Alias>legallyReviewedDate</Alias>
      <Definition>b8a790e2-319f-4d46-aa0c-cc9eca5e717a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dato da innholdet sist ble gjennomgått av juridisk ansvarlig.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="legal">Legal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d74a0928-4b12-4c50-b8e6-735942f3a905</Key>
      <Name>Legal Owner</Name>
      <Alias>legalOwner</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Navn på juridisk ansvarlig for innholdet på denne siden.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="legal">Legal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f75c755-84ac-4a3e-a325-4e4e36bc282a</Key>
      <Name>Lenker</Name>
      <Alias>lenker</Alias>
      <Definition>736b1cfc-5fd8-48b4-98b0-97e58e056841</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="lenker">Lenker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4e5269e-9851-4a94-88d8-a3acbd6cb107</Key>
      <Name>Newsletter Eligible</Name>
      <Alias>newsletterEligible</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Slå på hvis innholdet på denne siden egner seg for bruk i e-postkampanjer.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="distribution">Distribution</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a9d72a6-9748-43a6-a202-c24113b338f2</Key>
      <Name>Next Review Date</Name>
      <Alias>nextReviewDate</Alias>
      <Definition>6e114d96-d650-4a8c-a451-051411b3459f</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Planlagt dato for neste innholdsgjennomgang.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contentLifecycle">Content Lifecycle</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6d24d093-8272-4167-a7ea-afc92dfc6617</Key>
      <Name>OG Image</Name>
      <Alias>ogImage</Alias>
      <Definition>b5b44d34-1099-4cc6-b5e6-e6d3b0fe8df3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[1200x630 px. Vises når siden deles på sosiale medier.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6446025d-513b-44ff-b4b1-9c8cb14f8f09</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[50–60 tegn. Vises i Google-søk.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6de754c-e9d9-40f1-96f6-ad7af964d6ab</Key>
      <Name>Preload Hints</Name>
      <Alias>preloadHints</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[URLs to preload in the page header, one per line (fonts, critical images, scripts).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="performance">Performance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f07f4d7-4422-44bd-ac32-452d1a5364a9</Key>
      <Name>Primary CTA Type</Name>
      <Alias>primaryCtaType</Alias>
      <Definition>2ced86a5-9753-47f9-a5d5-fa9f416a80b2</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hovedmålet med denne siden sett fra et konverteringsperspektiv.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="conversion">Conversion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3db6b661-e9f1-4275-9729-2ec6ce377ee5</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>f57f81dc-ce5d-435f-937e-48bf96c99782</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dato da innholdet ble eller skal publiseres. Brukes i schema-markup.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contentLifecycle">Content Lifecycle</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb701bb5-dd3d-4172-89be-4074aad13f92</Key>
      <Name>Push Notification Title</Name>
      <Alias>pushNotificationTitle</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tittel for push-varsling til app- eller PWA-brukere. Maks 50 tegn.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="distribution">Distribution</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d699fafa-9050-4174-b0b4-a5bc88c2593a</Key>
      <Name>Requires Cookie Consent</Name>
      <Alias>requiresCookieConsent</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Slå på hvis denne siden bruker tjenester som krever ekstra samtykke utover standard cookies.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="legal">Legal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f406900-9cc4-41ae-a651-9ad8f31358ca</Key>
      <Name>Schema JSON-LD</Name>
      <Alias>schemaJsonLd</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lim inn JSON-LD strukturerte data for denne siden. Plasseres automatisk i head.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="script">Script</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88d7fad2-0e52-4153-b275-35dafe340240</Key>
      <Name>SEO-analyse</Name>
      <Alias>seoAnalyse</Alias>
      <Definition>642bd3c6-39d5-41f0-9459-0c24f75e23db</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO-analyse">SEO-analyse</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37abb83f-5b96-4591-a45c-cdb17821397b</Key>
      <Name>SEO Description</Name>
      <Alias>seoDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[120–158 tegn. Lokker leseren til å klikke.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbf7f416-f219-45a6-b279-50b8f60634a1</Key>
      <Name>SEO Preview</Name>
      <Alias>seoPreview</Alias>
      <Definition>26c63e71-0858-487b-a13b-91ebc205347c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba7676c1-0d27-4029-bf91-30f6ce164498</Key>
      <Name>SEO Revised Date</Name>
      <Alias>seoRevisedDate</Alias>
      <Definition>e476949a-6976-4b41-8373-444d421488d3</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sett dato når SEO-innholdet sist ble gjennomgått.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>facf8249-a0ae-45ba-8cb4-6ae426b80333</Key>
      <Name>Skip Navigation Label</Name>
      <Alias>skipNavigationLabel</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the skip-to-content link. Default: Skip to main content.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="accessibility">Accessibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9eb52ee8-6443-4906-b7ef-9e41b7c7d9db</Key>
      <Name>SocialMedia</Name>
      <Alias>socialMedia</Alias>
      <Definition>4ab23c19-78ff-4c5b-90db-2bf01a244bbb</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sosialeMedier">Sosiale medier</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4fd3249b-4726-46ce-b5fd-96a363792f8d</Key>
      <Name>Social Media Summary</Name>
      <Alias>socialMediaSummary</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kort sammendrag tilpasset deling på sosiale medier. Maks 280 tegn.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="distribution">Distribution</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11e35876-3ba2-4cf7-9e6e-db27387b29c8</Key>
      <Name>Target Audience</Name>
      <Alias>targetAudience</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Merk den tiltenkte målgruppen for denne siden, f.eks. HR-leder, SMB, Enterprise, Økonomi.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="personalisation">Personalisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a055ed7-f1f4-4d30-bfc7-92c1c1eb094d</Key>
      <Name>UTM Campaign</Name>
      <Alias>utmCampaign</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Forhåndsdefinert UTM-kampanjenavn for denne siden.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="conversion">Conversion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8889ac16-b452-4237-aac2-1aad0642f605</Key>
      <Name>UTM Medium</Name>
      <Alias>utmMedium</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Forhåndsdefinert UTM-medium for denne siden, f.eks. email, cpc, social.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="conversion">Conversion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ba4a755-6d92-4899-b613-fab123ff081d</Key>
      <Name>UTM Source</Name>
      <Alias>utmSource</Alias>
      <Definition>fd459d81-cdec-4312-aef2-385b320de692</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Forhåndsdefinert UTM-kilde for deling av denne siden, f.eks. newsletter, google, linkedin.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="conversion">Conversion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a00dec7e-bafa-4da9-982b-dc0cb7b2ad5e</Key>
      <Name>WCAG Level</Name>
      <Alias>wcagLevel</Alias>
      <Definition>c65de8ca-88f5-46d8-9c56-70acefdfd5a4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Target WCAG compliance level for this page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="accessibility">Accessibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>07ed529d-3598-4147-aefc-62779a8e78c8</Key>
      <Caption>Sosiale medier</Caption>
      <Alias>sosialeMedier</Alias>
      <Type>Tab</Type>
      <SortOrder>14</SortOrder>
    </Tab>
    <Tab>
      <Key>09a8ee91-0f29-4a64-a771-518a66cfe083</Key>
      <Caption>Lenker</Caption>
      <Alias>lenker</Alias>
      <Type>Tab</Type>
      <SortOrder>13</SortOrder>
    </Tab>
    <Tab>
      <Key>18fd8c75-00ef-48b1-af2d-7ee2f25a19b6</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>499aba57-81b4-46a1-9af7-f8ac815d2b62</Key>
      <Caption>SEO-analyse</Caption>
      <Alias>sEO-analyse</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>49cc0ac9-2799-428f-be22-2b05fa60f9de</Key>
      <Caption>Conversion</Caption>
      <Alias>conversion</Alias>
      <Type>Tab</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>6c625be7-f200-41cd-b165-9f5e63793a67</Key>
      <Caption>Distribution</Caption>
      <Alias>distribution</Alias>
      <Type>Tab</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>7b4d5f3a-a583-4118-aeb9-537c5b6435c6</Key>
      <Caption>Performance</Caption>
      <Alias>performance</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8dcec3a8-c42a-4c9c-9fc7-5320d7b4b5d5</Key>
      <Caption>Innhold</Caption>
      <Alias>innhold</Alias>
      <Type>Tab</Type>
      <SortOrder>12</SortOrder>
    </Tab>
    <Tab>
      <Key>925e8d4d-8be3-4791-9725-830f117ce4ff</Key>
      <Caption>Accessibility</Caption>
      <Alias>accessibility</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>9369bb53-6f15-47f1-8ce0-f6da03e8b0a3</Key>
      <Caption>Personalisation</Caption>
      <Alias>personalisation</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>952a8ecf-43ca-403c-ae74-36f8da114722</Key>
      <Caption>Ekspansjon</Caption>
      <Alias>ekspansjon</Alias>
      <Type>Tab</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>b4da7503-8246-48fd-8968-f7611678ce78</Key>
      <Caption>Script</Caption>
      <Alias>script</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b7f403f8-9f8a-4cc2-8e6f-485515c86cbf</Key>
      <Caption>Legal</Caption>
      <Alias>legal</Alias>
      <Type>Tab</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>b850a3f8-613f-4c42-b881-958de31cae39</Key>
      <Caption>Konkurrenter</Caption>
      <Alias>konkurrenter</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Key>f6a367bb-31a2-4dc9-9dc2-0e7078064afe</Key>
      <Caption>Content Lifecycle</Caption>
      <Alias>contentLifecycle</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>