<?xml version="1.0" encoding="utf-8"?>
<!-- IIS / Azure App Service (Windows): AspNetCoreModuleV2 stdout to %home%\LogFiles for Kudu/Diagnose. SDK publish preserves this template. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>

      <rewrite>
        <rules>
          <rule name="Redirect root domain to www" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^lunchportalen\.no$" />
            </conditions>
            <action type="Redirect" url="https://www.lunchportalen.no/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>

      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <aspNetCore
        processPath="dotnet"
        arguments=".\Umbraco.dll"
        stdoutLogEnabled="true"
        stdoutLogFile="\\?\%home%\LogFiles\stdout"
        hostingModel="inprocess" />

    </system.webServer>
  </location>
</configuration>